# Compiled executables
*.exe

# Output directories and temporary communication files
simulation_results/
batch_path.txt

# Data and media files (just in case they are generated outside the output folder)
*.bin
*.png
*.gif

# (Optional) Python cache if you ever import modules
__pycache__/
*.pyc

# LaTeX:
*.sty
*.fls
*.aux
*.fdb_latexmk
*.log
*.out
*.toc
*.synctex.gz